.agency {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 117px;
    @media (min-width: $breakpoint-smallscreen) {
        flex-wrap: nowrap;
        gap: 80px;
    }
    @media (min-width: $breakpoint-desktop) {
        gap: 120px;
    }

    .video iframe {
        width: 300px;
        height: 200px;
        @media (min-width: $breakpoint-tablet) {
            width: 550px;
            height: 372px;
        }
    }

    .since2016{
        position: relative;
        order: -2;
        @media (min-width: $breakpoint-smallscreen) {
            order: 2;
        }
        h2 {
            margin-bottom: 30px;
        }
    }

    .since2016::after {
        position: absolute;
        content: url("Ellipse 86.svg");
        z-index: -5;
        left: -206px;
    }

    .since2016::before {
        position: absolute;
        content: url("Rectangle 26.svg");
        z-index: -5;
        left: -39px;
        top: -24px;
    }
}
