h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

p {
    color: $grey56;
    font-size: 16px;
    line-height: 160%
}

.size18 {
    color: $grey75;
    font-size: 18px;
}

footer {
    p {
        font-size: 14px;
    }
    h4 {
        font-size: 20px
    }
}



