/* FONTS */
@import url(https://db.onlinewebfonts.com/c/6005d17c8b0c8485d42b35493703ee4d?family=AvertaDemoPE-Regular);
@import url(https://db.onlinewebfonts.com/c/72b6f2c9990bd3d37b8013a59ed78902?family=Proxima+Nova+Bold);
/* COLORS */
/* BREAKPOINTS */
/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "AvertaDemoPE-Regular", sans-serif;
  background-color: #FEFEFE;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  font-size: 27.147px;
}
.logo span {
  font-family: "Proxima Nova Bold", sans-serif;
  font-weight: 700;
}

footer .logo {
  font-size: 24px;
}

.btn {
  background-color: #2639ED;
  color: #FFF;
  padding: 20px 40px;
  border-radius: 60px;
  border: none;
  font-family: inherit;
  font-size: 20px;
  letter-spacing: 1.3px;
}

#submit {
  font-size: 16px;
  letter-spacing: 1.04px;
}

.btn:hover {
  background-color: #DAE9FF;
  color: #000;
  cursor: pointer;
}

nav {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 40px;
  padding: 20px;
}
nav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 16px;
  letter-spacing: 0.16px;
  position: fixed;
  right: -50vh;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@media (min-width: 1024px) {
  nav ul {
    position: static;
    flex-direction: row;
    gap: 60px;
  }
}
nav ul a:hover {
  color: #2639ED;
}
nav .burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 30px;
  cursor: pointer;
  margin: 1rem;
  z-index: 1000;
}
@media (min-width: 1024px) {
  nav .burger {
    display: none;
  }
}
nav .burger .slice {
  background-color: #000;
  height: 3px;
}
nav #burger {
  display: none;
}
nav #burger:checked ~ ul {
  right: 0;
  top: 0;
  background-color: #DAE9FF;
  padding: 120px 50px;
  text-align: right;
  width: 70vw;
  height: 100vh;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

p {
  color: #565656;
  font-size: 16px;
  line-height: 160%;
}

.size18 {
  color: #757575;
  font-size: 18px;
}

footer p {
  font-size: 14px;
}
footer h4 {
  font-size: 20px;
}

footer .line {
  max-width: 1200px;
  height: 1px;
  background-color: #E4E4E4;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  margin-top: 60px;
}
@media (min-width: 1024px) {
  footer .footer-content {
    flex-wrap: nowrap;
    gap: 191px;
    flex-direction: row;
  }
}
footer .footer-content .aStudio {
  max-width: 270px;
}
footer .footer-content .aStudio .logo {
  margin-bottom: 26px;
}
footer .footer-content .aStudio p {
  margin-bottom: 60px;
}
footer .footer-content .aStudio .socials {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}
footer .footer-content .aStudio .socials .facebook {
  fill: #3B5998;
}
footer .footer-content .aStudio .socials .facebook :hover #Vector {
  fill: #2639ED;
}
footer .footer-content .aStudio .socials .twitter {
  fill: #55ACEE;
}
footer .footer-content .aStudio .socials .twitter :hover #Vector {
  fill: #2639ED;
}
footer .footer-content .aStudio .socials .linkedin {
  fill: #007AB9;
}
footer .footer-content .aStudio .socials .linkedin :hover #Vector {
  fill: #2639ED;
}
footer .footer-content .sections {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-wrap: wrap;
  order: -1;
}
@media (min-width: 1024px) {
  footer .footer-content .sections {
    flex-wrap: nowrap;
    order: 1;
    flex-direction: row;
    gap: 120px;
  }
}
footer .footer-content .sections h4 {
  margin-bottom: 24px;
  text-wrap: nowrap;
}
footer .footer-content .sections ul a {
  font-size: 14px;
  line-height: 200%;
  text-wrap: nowrap;
}
footer .footer-content a:hover {
  color: #2639ED;
}
footer .copyright {
  margin-top: 17px;
  margin-bottom: 23px;
  color: #A4A4A4;
  text-align: center;
  font-size: 14px;
  line-height: 160%;
}